.main {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.canvas-container {
  border: 1px solid white;
  border-radius: 20px;
  width: 1000px;
  height: 800px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  box-shadow: 10px 8px 50px rgba(0, 0, 0, 0.404);
}

.upload {
  margin: 20px 20px;

  &-button {
    cursor: pointer;
  }

  &-url {
    width: 100%;
  }

  &-url__wrapper {
    width: 100%;
    display: flex;
  }
}

.hints {
  color: grey;
  padding: 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
}