.main {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.canvas-container {
  border: 1px solid white;
  border-radius: 20px;
  width: 1000px;
  height: 800px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  box-shadow: 10px 8px 50px rgba(0, 0, 0, 0.404);
}

.upload {
  margin: 20px 20px 10px 20px;

  &-button {
    cursor: pointer;
  }

  &-url {
    width: 100%;
  }

  &-url__wrapper {
    width: 100%;
    display: flex;
  }
}

.hints {
  color: grey;
  padding: 10px 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.error {
  opacity: 0;
  height: 35px;
  transition: all 250ms ease-in-out;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.596);
  font-weight: bolder;
  border: 1px solid rgb(136, 60, 60);
  background-color: rgb(44, 44, 44);
  border-radius: 15px;
  padding: 5px 10px;

  &__asset {
    font-style: italic;
    color:rgb(136, 60, 60)
  }

  &.shown {
    opacity: 1;
  }
}
